/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */
/* flex contatiner */

.row {
	display: flex;
	flex-flow: row wrap;
}

/* Row 6 spacing */
.row-6 {
  padding-right: 4%;
}

/* attribute selector to give some margin between columns and apply styles to flex items */

[class*="col-"] {
	margin-left: 4%;
	flex: 0 0 92%;
	
}

/* Add background colors to see how much space each column is taking */

/* Background colors */
.col-1 { background-color: #A3CDD9; }
.col-2 { background-color: #FFFCE6; }
.col-3 { background-color: #BFD8B8; }   
.col-4 { background-color: #C4B8AE; }   
.row-5 .col-2 { order: -1;}

.col-olympic { background-color: #BFD8B8; }   
.col-6 { background-color: #D6E4EA; }         

.col-olympic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;   
}

/* aligned center for olympic*/

.col-olympic h3,
.col-olympic img {
  align-self: center;        
}

/* Tablet Landscape Screen Sizes */

@media only screen and (min-width: 480px)  {
	
  .col-1,
  .col-2 {
		flex: 0 0 44%;
	}

  .row-3 .col-1,
  .col-3 {
    flex: 0 0 92%;
  }

  .col-4 {
    flex: 0 0 92%;
  }

  .row-5 .col-2 {
    flex: 0 0 92%;
  }

  .col-olympic {
    flex: 1 1 92%;
  }
  .col-6 {
    flex: 1 1 28%;
  }
  
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

  .col-1,
  .row-3 .col-1 {
    flex: 0 0 20%;
  }

  .col-2 {
    flex: 0 0 44%;
  }

  .col-3 {
    flex: 0 0 68%;
  }

  .col-4 {
    flex: 0 0 92%;
  }

  .row-5 .col-2 {
    flex: 0 0 44%;
    order: 0;
  }

  /* Row 6: flex-grow */
  .col-olympic {
    flex: 2 1 0;
  }
  .col-6 {
    flex: 1 1 0;
  }
}
